.App {
    background-color: white;
  }
  
  .Auth-form-container {
    background-color: #E9F6FF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  
  .Auth-form {
    width: 420px;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color: white;
  }
  
  .Auth-form-content {
    padding-left: 12%;
    padding-right: 12%;
  }
  
  .Auth-form-title {
    text-align: center;
    margin-bottom: 1em;
    font-size: 24px;
    color: #280274;
    font-weight: 800;
  }
  .btn{
    background-color: #FE7A36;
    color: #280274;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #FF9843;
    color: #fff; /* Yazı rengini beyaza çevirdik */
  }
  label {
    font-size: 14px;
    font-weight: 600;
    color:#3652AD;
  }