.App {
    background-color: white;
  }
  
  .Auth-form-container {
    background-color: #E9F6FF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  
  .Auth-form {
    width: 420px;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color: white;
  }
  
  .Auth-form-content {
    padding-left: 12%;
    padding-right: 12%;
  }
  
  .Auth-form-title {
    text-align: center;
    margin-bottom: 1em;
    font-size: 24px;
    color: #280274;
    font-weight: 800;
  }
  .btn{
    background-color: #FE7A36;
    color: #280274;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #FF9843;
    color: #fff; /* Yazı rengini beyaza çevirdik */
  }
  label {
    font-size: 14px;
    font-weight: 600;
    color:#3652AD;
  }
  .popup {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    height: 0;
    background-color: white;
    border: 3px solid #3652AD;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.5s, height 0.5s;
    animation: slide 500ms ease-out;
    animation-fill-mode: forwards;
    overflow: hidden;
  }
  
  .popup.open {
    height: 400px;
    opacity: 1;
    transition: opacity 0.5s, height 0.5s;
    animation: slide 500ms ease-out;
    animation-fill-mode: forwards;
    overflow: hidden;
  }
  .popup.close {
    height: 400px;
    opacity: 1;
    transition: opacity 0.5s, height 0.5s;
    animation: slide 500ms ease-out;
    animation-fill-mode: backwards;
    overflow: hidden;
  }
  
  @keyframes slide {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  .popup-content {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 20px;
  }
  .live-chat-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
  }
  
  .live-chat-button{
    background-color: #280274;
  color: white;
  border: none;
 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%;
    height: 60px;
    width: 60px;
  }
  .live-chat-button:hover {
    background-color: #3652AD;
    color: #fff; /* Yazı rengini beyaza çevirdik */
  }